<v-app dark>
    <div class="wrapper">

        <div class="content">
            <header-component></header-component>
            <div class="items">

                <div class="items__block items__block-amount">
                    <div class="amount">
                        <v-icon @click="amount_minus" dark>chevron_left</v-icon>
                        <div class="amount__value">{{currency_from_amount}}</div>
                        <v-icon @click="amount_plus" dark>chevron_right</v-icon>
                    </div>
                </div>

                <div class="items__block">
                    <v-autocomplete light @change="onChangeCurrency_from" :value="currency_from.id" dark outline :items="currencies"></v-autocomplete>
                    <div>
                        <p>{{currency_from.price_usd}} USD</p>
                    </div>
                </div>

                <div class="swap_button">
                    <v-icon @click="changeCurrency_rotate" dark>swap_horiz</v-icon>
                </div>

                <div class="items__block">
                    <v-autocomplete light @change="onChangeCurrency_to" :value="currency_to.id" dark outline :items="currencies"></v-autocomplete>
                    <div>
                        <p>{{currency_to.price_usd}} USD</p>
                    </div>
                </div>
            </div>

            <div class="result" v-if="currency_from.id && currency_to.id">
                <p>{{currency_from_amount}} {{currency_from.id}} =
                    <b>{{currency_from.price_usd * currency_from_amount / currency_to.price_usd}}</b> {{currency_to.id}}</p>
            </div>

            <div class="charts">
                <chart-component :cname="currency_from.display_name" :cid="currency_from.id"></chart-component>
                <chart-component :cname="currency_to.display_name" :cid="currency_to.id"></chart-component>
            </div>

            <div class="popular">
                <div class="popular__title">Popular Cryptocurrency Conversions</div>
                <div class="popular__columns">
                    <ul class="popular__column">
                        <li @click="changeCurrencies('BTC', 'USD')">BTC to USD</li>
                        <li @click="changeCurrencies('BTC', 'EUR')">BTC to EUR</li>
                        <li @click="changeCurrencies('BTC', 'GBP')">BTC to GBP</li>
                        <li @click="changeCurrencies('BTC', 'JPY')">BTC to JPY</li>
                        <li @click="changeCurrencies('BTC', 'LTC')">BTC to LTC</li>
                        <li @click="changeCurrencies('BTC', 'ZEC')">BTC to ZEC</li>
                        <li @click="changeCurrencies('BTC', 'ETH')">BTC to ETH</li>
                        <li @click="changeCurrencies('BTC', 'XRP')">BTC to XRP</li>
                        <li @click="changeCurrencies('BTC', 'BCH')">BTC to BCH</li>
                    </ul>
                    <ul class="popular__column">
                        <li @click="changeCurrencies('ETH', 'USD')">ETH to USD</li>
                        <li @click="changeCurrencies('ETH', 'EUR')">ETH to EUR</li>
                        <li @click="changeCurrencies('ETH', 'GBP')">ETH to GBP</li>
                        <li @click="changeCurrencies('ETH', 'JPY')">ETH to JPY</li>
                        <li @click="changeCurrencies('ETH', 'LTC')">ETH to LTC</li>
                        <li @click="changeCurrencies('ETH', 'ZEC')">ETH to ZEC</li>
                        <li @click="changeCurrencies('ETH', 'BTC')">ETH to BTC</li>
                        <li @click="changeCurrencies('ETH', 'XRP')">ETH to XRP</li>
                        <li @click="changeCurrencies('ETH', 'BCH')">ETH to BCH</li>
                    </ul>
                    <ul class="popular__column">
                        <li @click="changeCurrencies('XRP', 'USD')">XRP to USD</li>
                        <li @click="changeCurrencies('XRP', 'EUR')">XRP to EUR</li>
                        <li @click="changeCurrencies('XRP', 'GBP')">XRP to GBP</li>
                        <li @click="changeCurrencies('XRP', 'JPY')">XRP to JPY</li>
                        <li @click="changeCurrencies('XRP', 'LTC')">XRP to LTC</li>
                        <li @click="changeCurrencies('XRP', 'ZEC')">XRP to ZEC</li>
                        <li @click="changeCurrencies('XRP', 'BTC')">XRP to BTC</li>
                        <li @click="changeCurrencies('XRP', 'ETH')">XRP to ETH</li>
                        <li @click="changeCurrencies('XRP', 'BCH')">XRP to BCH</li>
                    </ul>
                    <ul class="popular__column">
                        <li @click="changeCurrencies('BCH', 'USD')">BCH to USD</li>
                        <li @click="changeCurrencies('BCH', 'EUR')">BCH to EUR</li>
                        <li @click="changeCurrencies('BCH', 'GBP')">BCH to GBP</li>
                        <li @click="changeCurrencies('BCH', 'JPY')">BCH to JPY</li>
                        <li @click="changeCurrencies('BCH', 'LTC')">BCH to LTC</li>
                        <li @click="changeCurrencies('BCH', 'ZEC')">BCH to ZEC</li>
                        <li @click="changeCurrencies('BCH', 'BTC')">BCH to BTC</li>
                        <li @click="changeCurrencies('BCH', 'ETH')">BCH to ETH</li>
                        <li @click="changeCurrencies('BCH', 'XRP')">BCH to XRP</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</v-app>